name: Continuous Integration

on:
  pull_request:
    branches: [ "main" ]

jobs:

  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.22'

    - name: Start database
      run: docker compose up -d postgres

    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.6
        args: controllers/ database/ models/ routes/

    - name: Test
      run: DB_HOST=${{ secrets.DB_HOST }} DB_PASS=${{ secrets.DB_PASS }} DB_USER=${{ secrets.DB_USER }} DB_NAME=${{ secrets.DB_NAME }} DB_PORT=${{ secrets.DB_PORT }} go test -v main_test.go

  build:
    runs-on: ubuntu-latest
    needs: ci
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.22'

    - name: Build
      run: go build main.go

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: compiled-project
        path: main